 
.container{
	position:absolute;
	
}
@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

div{
	position:absolute; 
	text-align: center;
/*	left:10%;	
	top:20%;*/
    background-color: red;
    animation-name: example;
    animation-duration: 10s;
	width:80%;
	height:80%;
	margin: auto;
	border: 5px solid yellow;
	padding: 10px;

}
		

.frame{
	position:absolute; 
	text-align: center;
	left:10%;	
	top:10%;
	width:80%;
	height:80%;

}

img {
	max-height: 100%;
	width:auto;
	text-align: center;
}

