.container{
	position:absolute;
	padding-top: 10%

}



div{
	position:absolute; 
	left:20%;	
	top:20%;
	max-width:90%;
	max-height:90%;
}
		


.frame{
	position:absolute; 
	left:20%;	
	top:20%;
	max-width:90%;
	max-height:90%;

}
		
