 
.container{
	position:absolute;
	
}

div{
	position:absolute; 
	left:10%;	
	top:20%;
	width:90%;
	height:90%;
}
		

.frame{
	position:absolute; 
	left:40%;	
	top:60%;
	width:90%;
	max-height:90%;

}

iframe{
	overflow: scroll;
}